version: '3.8'

services:
  app:
    image: ${IMAGE_NAME:-rinstawifi2qr}:${IMAGE_TAG:-latest}
    container_name: ${COMPOSE_PROJECT_NAME:-rinstawifi2qr}
    build: .
    ports:
      - "${HOST_PORT:-3000}:80"
    networks:
      - default
      - traefik_public
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME:-rinstawifi2qr}.rule=Host(`${EXTERNAL_HOST}`)"
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME:-rinstawifi2qr}.entrypoints=websecure"
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME:-rinstawifi2qr}.tls=true"
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME:-rinstawifi2qr}.tls.certresolver=myresolver"
      - "traefik.http.services.${COMPOSE_PROJECT_NAME:-rinstawifi2qr}.loadbalancer.server.port=80"
    restart: always
    environment:
      - LOG_LEVEL=${LOG_LEVEL:-INFO}
      - TEST_INSTANCE=${TEST_INSTANCE:-false}

networks:
  traefik_public:
    external: true
